@tailwind base;
@tailwind components;
@tailwind utilities;

#submenu {
  visibility: hidden;
}

li:hover ul#submenu {
  visibility: visible;
  animation: move 150ms linear;
}



@keyframes move {
  from {
    transform: translateY(30px);
    scale: 90%;
  }
  to {
    transfrom: translateY(0px);
    scale: 100%;
  }
}
